.category-card-container {

    width: 100%;

    .card-details {

        width: 80%;
        height: 470px;
        margin: auto;
        display: flex;

        .card-image-container{
            flex-basis: 50%;
            background-size: cover;
            cursor: pointer;
        }

        .card-desc {
            flex-basis: 50%;
            position: relative;

            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: #313131;
                height: 33%;
                position: absolute;
                top: 33%;
                width: 100%;

                .heading {
                    font-family: cursive;
                    font-size: 2.2em;
                }
    
                .catchLine {
                    font-size: 1.5em;
                    font-family: 'raleway';
                }
    
                .category {
                    font-size: 1.4em;
                    font-family: 'raleway';
                }
    
                hr {
                    background: black;
                    width: 14%;
                    height: 3px;
                    border: none;
                }
            }
        }

    }
}