.category-card-container {

    width: 100%;

    .card-details {

        width: 80%;
        height: 470px;
        margin: auto;
        display: flex;

        .card-image-container{
            flex-basis: 50%;
            position: relative;

            .card-image {
                height: 100%;
                transition: opacity 1.3s ease;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .card-link {
                position: absolute;
                top: 65%;
                left: 40%;
                font-family: 'Courier New', Courier, monospace;
                color: #ffffff;
                padding: 1.3em;
                background-color: #000000;
                border-radius: 0.4em;
                cursor: pointer;
                display: none;
            }

            &:hover {
                .card-image {
                    opacity: 0.4;
                }

                .card-link {
                    display: inline;
                }
            }
        }

        .card-desc {
            flex-basis: 50%;
            position: relative;

            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: #313131;
                height: 33%;
                position: absolute;
                top: 33%;
                width: 100%;

                .heading {
                    font-family: cursive;
                    font-size: 2.2em;
                }
    
                .catchLine {
                    font-size: 1.5em;
                    font-family: 'raleway';
                }
    
                .category {
                    font-size: 1.4em;
                    font-family: 'raleway';
                }
    
                hr {
                    background: black;
                    width: 14%;
                    height: 3px;
                    border: none;
                }
            }
        }

    }
}