.products-catalogue-page {
    margin: 2em 4em 0em;

    .heading {
        font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
        font-size: 2em;
        color: #000000;
        font-weight: 700;
        padding-bottom: 0.3em;
        margin-left: 0.3em;
    }

    .catalogue {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}